@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  padding: 2rem;
  position: relative;
  text-align: center;

  
}

.modalHeader {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
  position: relative;
}

.modalField {
  margin-bottom: 1rem;
}

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  padding: 1.5rem;
  transition: color 0.2s;

  &:hover {
    color: #ff0000;
  }
}

.modalLabel {
  font-family: 'Open-Sans ', sans-serif;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
}

.inputBox {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: center;
}

.invalidFileError {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
}

.inputGroup {
  display: flex;
  align-items: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.inputBox {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px 12px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.inputBox:focus {
  outline: none;
}

.emailDomain {
  background-color: #f7f7f7;
  color: #555;
  font-size: 16px;
  padding: 10px 12px;
  white-space: nowrap;
  border-left: 1px solid #ccc;
  box-sizing: border-box
}

.inputEmailGroup {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.inputEmailBox {
  flex: 2;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: flex;
  border: 1px solid #ccc;
  padding-right: 1rem;
}

.emailDomain {
  background-color: #f4f4f4;
  color: #555;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  border-left: 1px solid #ccc;
}

.modalEmailField {
  margin-bottom: 1rem;
}

.modalEmailLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.inputGroupPassword {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.inputBoxPassword {
  flex: 1;
  border: none;
  padding: 10px 12px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.passwordVisibilityTogglePassword {
  cursor: pointer;
  padding: 10px;
  font-size: 18px; 
  color: #555;
  display: flex;
  align-items: center;
}

.passwordStrengthFeedback {
  margin-top: 4px;
  font-size: 14px;
  color: #ff4d4d;
}

.errorPassword {
  margin-top: 4px;
  font-size: 14px;
  color: red;
}

.passwordStrength {
  margin-top: 10px;
}

.strengthBar {
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.strengthIndicator {
  height: 100%;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.strengthLabel {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

.passwordFeedback {
  margin-top: 5px;
  font-size: 12px;
  color: #ff4d4d;
}

.uploadFileButton{
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  font-weight: bold;
  margin-top: 3%;
  
  &:hover {
    background-color: #ffca28;
  }
  
}

.submitButton {
  background-color: #ffc107;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  
  &:hover {
    background-color: #ffca28;
  }

  &:disabled, &.locked {
    background-color: #e0e0e0;
    color: #b0b0b0; 
    cursor: not-allowed;
    box-shadow: none;
  }
}

.fileName{
  font-family: 'Open-Sans ', sans-serif;

}

@media screen and (max-width: 400px){
  .modalCloseButton{
    margin-right: 35%;
  }

  .modalContent{
    padding-top: 80px;
  }
}


