.headerContainer{
    margin: 0;
    padding: 0;
    height: 125px;
    width: 100%;
    background-color: black;
}

.headerText{
    margin-top: 0;
    color: white;
    font-family: 'Monaco', monospace;
    padding-left: 200px;
    padding-top: 35px;
    font-size: 2.5rem;
}