.headerContainer {
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center;
}

.headerText {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10px; /* Add margin to create space between image and text */
}

.buttons {
    padding-left: 200px;
}

.headerImage {
    margin-right: 10px; /* Optional: Add space between the image and text */
}
