.headerContainer{
    margin: 0;
    padding: 0;
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.headerText{
    margin-top: 0;
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding-left: 200px;
    padding-top: 35px;
    font-size: 2rem;
}

.buttons{
    padding: 35px 150px;
}