.pageContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    height: 250px;
    background-color: #E4E4E4;
    width: 250px;
    border: 2px dashed black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.uploadButton{
    border-radius: 20px;;
    height: 40px;
    width: 200px;
    background-color: #F1B82D;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.icon{
    font-size: 60px;
}