.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.formContainer {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    padding: 35px;
    border-radius: 30px;
    border: 1px solid #000000;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 100px;
}
  
.formHeader {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-decoration: underline;
    font-family: 'Orbitron', sans-serif;
}
  
.formGroup {
    margin-bottom: 15px;
}
  
.formLabel {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
  
.inputGroup {
    display: flex;
    align-items: center;
    width: 100%;

    span{
        background-color: #e9ecef;
        padding: 9px;
        font-size: 14px;
        border-radius: 0 5px 5px 0;
        border: 1px solid #ccc;
        border-left: none;
        color: #333;
        white-space: nowrap;
    }

    input{
        flex: 1;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}

.inputBox{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.registerBtn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffc107;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #e0a800;
    }
}
  
.loginText {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;

    a{
        color: #000000;
        text-decoration: none;
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
    }
}
  