.imageContainer{
    background-color: gray;
    border-radius: 50px;
    border: 1px solid black;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center !important;
    text-align: center;
}

.contactSellerButton{
    background-color: #F1B82D;
    border: none;
    font-family: "Open Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1000px) and (max-width: 1799px) {
    .imageContainer{
        height: 500px;
        width: 600px;
        margin-top: 30px;
    }

    .contactSellerButton{
        width: 50%;
        height: 45px;
        font-size: 18px;
        border-radius: 50px;
        margin-top: 20px;
    }
}