.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  padding: 35px;
  border-radius: 30px;
  border: 1px solid #000000;
  width: 100%;
  max-width: 350px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.formHeader {
  text-align: center;
  font-size: 28px;
  text-decoration: underline;
  font-family: 'Orbitron', sans-serif;
  margin-top: 0;
}

.formGroup {
  margin-bottom: 25px;
}

.formLabel {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 8px;
  padding-left: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.inputGroup span {
  background-color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 0 10px 10px 0;
  color: #333;
  white-space: nowrap;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-right: 10px;
}

.inputGroup input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  border: none;
  height: 40px;
}

.inputGroup input::placeholder {
  font-family: 'Open Sans', sans-serif;
}

.loginBtnContainer {
  display: flex;
  justify-content: center;
}

.loginBtn {
  width: 75%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffc107;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.loginBtn:hover {
  background-color: #e0a800;
}

.loginText {
  text-align: center;
  margin-top: 35px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(137, 137, 137);
  font-weight: bold;
}

.loginText span {
  display: block;
  margin: 15px 0;
}

.registerLink {
  color: rgb(106, 106, 106);
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #aeaeae;
}

.passwordInputGroup {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordInputGroup .inputBox {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  padding-right: 40px;
  height: 40px;
}

.passwordInputGroup .eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  user-select: none;
}

/* Styles for error messages */
.error {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.fieldError {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 5px;
}

.invalidInput {
  border: 1px solid #ff4d4d !important;
}

@media screen and (max-width: 400px) {
  .formContainer {
    padding: 20px 20px 60px 20px;
    margin: 50px 30px 50px 30px;
  }

  .formHeader {
    margin-bottom: 35px;
  }

  .formLabel {
    font-size: 14px;
  }

  .inputGroup {
    flex-direction: column;
    align-items: stretch;
  }

  .inputGroup input {
    border-radius: 10px;
  }

  .inputGroup input:focus {
    outline: none;
  }

  .inputGroup span {
    border-radius: 0 0 10px 10px;
    width: 80%;
    text-align: left;
    padding-left: 10px;
    margin-top: -5px;
    display: block;
  }

  .loginBtn {
    width: 100%;
  }

  .loginText {
    font-size: 12px;
  }

  .loginText .registerLink {
    font-size: 16px;
  }

  .passwordInputGroup .inputBox {
    padding-right: 40px;
  }
}
