.logoutButton{
    background-color: #FFE9B2;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;

    &:hover{
        cursor: pointer;
    }
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.pfpFrame{
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
}
