.logoutButton{
    background-color: #FFE9B2;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 18px;

    &:hover{
        cursor: pointer;
    }
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-right: 70px;
}

.pfpFrame{
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .container{
        gap: 110px;
    }

    .pfpFrame{
        width: 60px;
        height: 60px;;
    }
}
