.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-right: 70px;
    position: relative;
}

.pfpFrame {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.dropDownIcon {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.dropdownContainer {
    position: absolute; 
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    width: 120%;
}

.dropdownButton{
    color: white;
    background-color: transparent;
    border: none;
    height: 50px;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: #F1B82D;
        color: black;
    }
}

.logoutButton {
    background-color: #FFE9B2;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}

.dropdownCaret{
    color: black;
    transform: rotate(180deg);
    position: absolute;
    font-size: 40px;
}

// Mobile size
@media screen and (max-width: 400px) {
    .pfpFrame{
        width: 60px;
        height: 60px;;
    }

    .dropdownContainer{
        margin-top: 310px;
        width: 100%;
        margin-left: -15%;
    }

    .dropdownButton{
        font-size: 15px;
    }

    .dropdownCaret{
        margin-top: -45px;
        margin-left: 56%;
    }
}

// Laptop size
@media screen and (min-width: 1300px) and (max-width: 1799px) {
    .dropdownContainer{
        height: 190%;
        margin-top: 295px;
        margin-left: -105px;
    }

    .dropdownCaret{
        margin-top: -45px;
        margin-left: 83%;

    }
}

@media screen and (min-width: 1800px) and (max-width: 2500px) {
    .dropdownContainer{
        margin-top: 310px;
        margin-left: -55%;
    }
    
    .dropdownCaret{
        margin-top: -45px;
        margin-left: 84%;
    }
}
