.footerContainer {
    background-color: #EDEDED;
    width: 100%;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.footerText{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(98, 98, 98);
}
  