.pageContainer {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
}
    
.inputContainer {
    position: relative;
    width: 100% !important;
    max-width: 500px !important;
}

.input {
    background-color: white;
    width: 100% !important;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    padding-left: 20px;
    box-sizing: border-box;

    &::placeholder {
        color: #C9C9C9;
    }

    /* Hide the default arrows, or "spinners", on number inputs */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield; /* Hide the spinners on Firefox */

    &::placeholder{
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #a6a6a6;
    }
}

.headerTwo{
    margin-top: -1%;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.headers{
    font-family: "Open Sans", sans-serif;
}

.formContainer{
    margin-top: 15px;
}

.lineThree {
    display: grid;
    grid-template-columns: 36% 15%;
    gap: 10px;
}
  
.cityInput, .stateInput, .zipInput {
    background-color: white;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;

    &::placeholder{
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #a6a6a6;
    }
}

.cityInput {
    width: 100%;
}

.stateInput {
    width: 100%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #a6a6a6;
    appearance: none;
}

.zipInput{
    width: 40%;
}

.stateIcon{
    position: absolute;
    pointer-events: none;
    transform: translate(2950%, 100%);
}

.submitButton {
    border-radius: 20px;
    height: 40px;
    width: 100%;
    max-width: 200px;
    background-color: #F1B82D;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

@media screen and (max-width: 400px) {
    .input{
      width: 80% !important;
    }
  
    .inputSellingPrice{
      width: 80% !important;
    }
  
    .iconStyles{
      margin-top: 2px;
    }
  
    .conditionIcon{
      margin-right: 60px;
    }
  
    .formContainer{
      position: relative !important;
      left: -40%;
      margin-top: 30px;
    }
  
    .submitButton{
      margin: 15px 30px 0px 0px;
    }
  
    .tagsContainer{
      width: 80% !important;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr); 
      padding: 12px !important;
    }
  
    .tag{
      font-size: 12px;
    }

    .headers{
        margin-left: -110px;
        width: 80%;
    }

    .stateInput{
        width: 270%;
    }

    .submitButton{
        margin-left: 20px;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2200px) {
    .input{
        height: 75px;
        font-size: 20px;
    
        &::placeholder{
          font-size: 20px;
        }
    }

    .inputContainer{
        width: 100%;
        max-width: 1000px !important;
    }

    .cityInput, .stateInput, .zipInput {
        height: 75px;
        font-size: 20px;
    
        &::placeholder{
          font-size: 20px;
        }
    }

    .stateIcon{
        transform: translate(3800%, 150%);
    }

    .headers{
        margin-bottom: 50px;
        margin-top: -70px
    }
    
    .headerOne{
        font-size: 30px;
    }

    .headerTwo{
        font-size: 20px;
    }

    .submitButton{
        height: 60px;
        width: 1000px !important;
        max-width: 400px;
        font-size: 18px;
        margin-left: 300px;
        margin-top: 50px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1699px) {
    .input{
        height: 50px;
        font-size: 14px;
    
        &::placeholder{
          font-size: 14px;
        }
    }

    .inputContainer{
        width: 100%;
        max-width: 1000px !important;
        margin-bottom: 10px;
    }

    .cityInput, .stateInput, .zipInput {
        height: 50px;
        font-size: 14px;
        margin-bottom: 25px;
    
        &::placeholder{
          font-size: 14px;
        }
    }

    .stateIcon{
        transform: translate(4500%, 100%);
    }

    .headers{
        margin-bottom: 30px;
        margin-top: -30px;
        margin-left: -1%;
    }
    
    .headerOne{
        font-size: 24px;
    }

    .headerTwo{
        font-size: 18px;
    }

    .submitButton{
        height: 40px;
        width: 1000px !important;
        max-width: 300px;
        font-size: 15px;
        margin-left: 300px;
        margin-top: 50px;
    }

    .formContainer{
        margin-left: -20px;
    }

}


  