.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}


.inputContainer {
  position: relative;
  width: 100% !important;
  max-width: 500px !important;
}

.iconStyles {
  position: absolute;
  top: 35%;
  left: 15px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 15px;
}

.input {
  background-color: white;
  width: 100% !important;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin-bottom: 15px;
  padding-left: 20px;
  box-sizing: border-box;

  &::placeholder {
    color: #a6a6a6;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }

  /* Hide the default arrows, or "spinners", on number inputs */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield; /* Hide the spinners on Firefox */
}

.inputSellingPrice {
  background-color: white;
  width: 100% !important;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin-bottom: 15px;
  padding-left: 40px;
  box-sizing: border-box;

  &::placeholder {
    color: #a6a6a6;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }

  /* Hide the default arrows, or "spinners", on number inputs */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield; /* Hide the spinners on Firefox */
}

.submitButton {
  border-radius: 50px;
  height: 40px;
  width: 100%;
  max-width: 200px;
  background-color: #F1B82D;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-left: -10%;

  @media (min-width: 1400px) {
    margin-left: -20%;
  }
}

.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tagsContainer {
  background-color: white;
  width: 100% !important;
  max-width: 500px !important;
  height: 150px;
  max-height: 200px !important;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.tag {
  width: 100%;
  height: 35px;
  background-color: #FFE9B2;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    border: 3px solid #F1B82D;
  }
}

.tagActive {
  width: 100%;
  height: 35px;
  background-color: #FFE9B2;
  border: 3px solid #F1B82D;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.conditionInput{
  @extend .input;
  padding-right: 40px !important;
  appearance: none;
  color: #a6a6a6;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  &.selected{
    color: #000000;
  }
}

.conditionIcon{
  position: absolute;
  right: 20px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media screen and (max-width: 400px) {
  .input{
    width: 80% !important;
  }

  .inputSellingPrice{
    width: 80% !important;
  }

  .iconStyles{
    margin-top: 2px;
  }

  .conditionIcon{
    margin-right: 60px;
  }

  .formContainer{
    position: relative !important;
    left: -40%;
    margin-top: 30px;
  }

  .submitButton{
    margin: 15px 30px 0px 0px;
  }

  .tagsContainer{
    width: 80% !important;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr); 
    padding: 12px !important;
  }

  .tag{
    font-size: 12px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 2200px) {
  .inputContainer{
    width: 100%;
    max-width: 1000px !important;
  }

  .input{
    height: 75px;
    font-size: 20px;

    &::placeholder{
      font-size: 20px;
    }
  }

  .inputSellingPrice{
    height: 75px;
    font-size: 20px;

    &::placeholder{
      font-size: 20px;
    }
  }

  .iconStyles{
    margin-top: 4px;
    margin-left: 4px;
  }

  .tagsContainer{
    max-width: 1000px !important;
  }

  .tag{
    font-size: 18px;
    height: 45px;
  }
  
  .submitButton{
    margin-right: 450px;
    margin-top: 15px;
    height: 60px;
    width: 1000px !important;
    max-width: 400px;
    font-size: 18px;
  }

  .tagActive{
    font-size: 18px;
    height: 45px;
  }

}

@media screen and (min-width: 1000px) and (max-width: 1699px) {
  .input{
    height: 50px;
    width: 100% !important;
    font-size: 14px;

    &::placeholder{
      font-size: 14px;
    }
  }

  .inputContainer{
    width: 100%;
    max-width: 1000px !important;
    margin-bottom: 10px;
  }

  .tagsContainer{
    max-width: 1000px !important;
  }

  .submitButton{
    margin-left: -40px;
  }

  .formContainer{
    margin-left: -40px;
  }

  .submitButton{
    height: 40px;
    font-size: 15px;
    margin-right: 9%;
    margin-top: 30px;
  }
}
  